/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-shadow: 2px 2px 6px rgb(230, 50, 140);
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 100;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/
}
.box3 .content p::first-letter {
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  color: red;
  font-size: 21px;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  font-family: minFont, sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: orange;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  font-family: krona-one-regular;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(78, 135, 240);
  font-size: 40px;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  background-color: rgb(175, 242, 103);
  font-size: 20px;
  line-height: 2;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgb(191, 238, 223);
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  color: rgb(246, 116, 23);
  font-weight: bolder;
  text-decoration: solid;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  background-image: url(bg_images/himmel.jpeg);
  background-size: cover;

  font-size: 30px;
  color: rgba(207, 8, 8, 0.91);
  font-weight: bolder;
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/

  /*Her indsættes baggrundsbillede vha. background-image og background-size */

  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/

  /*Her styles teksten*/
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/

  /* størrelse på de to baggrunde separeret af komma */

  /* skal baggrundsbilledet gentages? */

  /* Hvor skal baggrundsbilledet placeres? */

  /*Her styles teksten*/
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/

  /*Indsæt blomsten med background-image og background-size*/

  /*Brug filter så blomsten får en sepia toning*/
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
